.sidebar#sidebar_app {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    max-width: none;
    width: 100%;

    @media(min-width: 801px) {
        max-width: 379px;
    }

    input[type='text'] {
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 2px 5px #e7eaf3;
    border: 1px solid #E7EAF3;
    background: transparent;
    color: #0071bc;
    font-size: 13px;
    font-weight: 600;
    height: 40px;
    overflow: hidden;
    padding: 12px;
    outline: none;
    width: 100%;
    margin-bottom: 16px;
}

    .sidebar--title {
        font-size: 16px;
        line-height: calc(16px*1.333);
        font-weight: 600;
    }
    
    .small--title {
        font-size: 14px;
        margin: 8px 0 10px;
        line-height: calc(14px*1.333);
        letter-spacing: normal;
        font-weight: 600;
        display: block;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }

    .badge-secondary {
        font-size: 11px;
        background-color: #db0a5b;
        height: 18px;
        width: 18px;
        border-radius: 100%;
        padding: 4px 3px;
        margin-right: 6px;
        vertical-align: top;
        color: #fff;
        display: inline-block;
    }
    
    .badge-number {
        float: right;
    }

    .top-sidebar {
        position: fixed;
        width: 379px;
        height: 40px;
        padding: 5px 10px 2px;
        background-color: #fff;
        font-family: Andes;
        font-size: 20px;
        line-height: 25px;
        font-weight: 700;
        border-bottom: 1px solid #EEEEEE;
        box-sizing: border-box;
        top: 0;
        left: 0;
        font-family: 'Roboto', sans-serif;
        display: none;

        @media(min-width: 801px) {
            display: block;
        }

        img {
            height: 31px;
            margin-right: 12px;
        }

        span {
            font-size: 20px;
            display: inline-block;
            margin-left: 10px;
            padding-left: 10px;
            border-left: 2px solid #D2D1D1;
        }

    }

    .main-sidebar {
        height: 100%;
        position: relative;
        max-width: 100%;

        @media(min-width: 801px) {
            max-width: 379px;
        }

        >ul {

            position: fixed;
            display: flex;
            flex-direction: row;
            width: 100%;
            background-color:#024 ;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0;
            z-index: 999;
            border-right: 1px solid rgb(165, 165, 165);
            margin-bottom: 0;

            @media(min-width:801px) {
                flex-direction: column;
                top: 40px;
                left: 0;
                bottom: 55px;
                width: 65px;
            }

            a, 
            span {
                font-size: 10px;
                line-height: 19px;
                font-family: 'Roboto', sans-serif;
                letter-spacing: normal;
            }

            .siderbar--active {
                background-color: #fff;
                i, span {
                    color: #024;
                }
            }

            li {
                color: #fff;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: calc(100% /6);
                height: 75px;

                @media(min-width: 801px) {
                    width: 100%;
                    height: 75px;
                }

                i, span {
                    color: #fff;
                }

                i {
                    font-size: 1rem;
                }

                span {
                    text-transform: uppercase;
                }
            }

        }
        
    }

    .sidebar_right {
        position: relative;
    }

    .sidebar__content {


        .sidebar__wrap {
            position: absolute;
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
            padding: 0 15px;
            display: none;
            background-color: #fff;
            box-shadow: 0 0 1px #0003;
            height: 45%;

            @media(min-width: 801px) {
                transform: translateX(-100%);
                left: -100%;
                height: 100%;
            }

            &.active {
                display: block;
                transform: translateX(0);
                left: 0;
                right: 0;
                z-index: 0;
                bottom: 75px;
                width: 100%;


                @media(min-width: 801px) {
                    width: 314px;
                    left: 65px;
                    top: 40px;
                    bottom: 55px;
                }
            }
        }

        .sidebar__search {
            padding: 12px 12px 0 12px;

            button {
                border: none;
                background-color: transparent;
                position: absolute;
                right: 27px;
                height: 40px;
                line-height: 0px;
                i {
                    font-size: 16px;
                    color: #0473bd;
                }
            }

        }

        .sidebar__filter {
            padding: 5px 12px;
            background-color: #004c92;
            display: inline-block;
            span {
                font-size: 12px;
                font-weight: 600;
                line-height: 16px;
                color: var(--text-color);
            }
        }

        .sidebar__title {
            i {
                font-size: 18px;
                font-weight: 600;
            }
        }

        .sidebar__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 8px;
            margin-bottom: 12px;
            border-bottom: 2px solid #DEE3E8;
        }

        .sidebar__overview-data {
            margin: 0 -15px;

            ul {
                padding: 0;
                list-style: none;
                display: flex;
                width: 100%;
                background-color: #e8eaf3;

                padding: 12px 15px;
                li {
                    width: 25%;
                    text-align: left;
                    span {
                        font-size: 12px;
                    }

                    strong {
                        font-size: 14px;
                    }
                    span, strong {
                        display: block;
                    }
                }
            }
        }

        .sidebar__status {

            ul {
                display: flex;
                justify-content: space-between;
                
                li {
                    margin-bottom: 8px;
                    display: flex;
                    span {
                        display: inline-block;
                        margin-left: 3px;
                        font-size: 12px;
                    }
                }
            }
        }

        .sidebar__region-tabs {

            ul {

                border-bottom: none;
                span {
                    font-size: 12px;
                }
                li {
                    display: flex;
    
                }
                
                .nav-item {
                    max-width: 25%;
                    width: 100%;
                }

                .nav-link {
                    display: inline-block;
                    width: 100%;
                    text-transform: uppercase;
                    color: #0473bd;
                    text-align: left;
                    font-weight: 600;
                    font-size: 12px;
                    margin: 10px 20px -1px 0;
                    padding: 0 0 6px;
                

                    &.active {
                        color: #054f94;

                        &::after {
                            height: 2px;
                        }
                    }
                }
            }
        }
    }  

    .close-sidebar {
        border: none;
        background-color: #fff;
        position: absolute;
        width: 30px;
        transform: translate(100%, 100%) rotate(90deg);
        z-index: 999;
        padding: 2px 0;
        left: 0;
        bottom: 58%;

        @media(min-width: 801px) {
            right: 0;
            top: 0;
            bottom: auto;
            left: auto;
            transform: translate(100%, 100%) rotate(0);
        }
        
        i {
            font-size: 25px;
        }
    }
    
}


/* sidebar dropdown */
    .sidebar__dropdown-wrap {

        .sidebar__dropdown-title {
            color: var(--body-text);
            font-weight: 700;
            font-size: 12px;
            line-height: 16px;
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
            border-bottom: 1px solid #DEE3E8;
            padding-bottom: 12px;

            i {
                margin-left: 0.25rem;

                &::before {
                    color: var(--body-text);
                    font-size: 16px;
                    font-weight: 700;
                }
            }

            &:hover {
                text-shadow: 0px 0px 5px var(--text-shadow);
            }
        }

        .dropdown__item-wrap{
            display: none;
        }

        .sidebar__dropdown-title.active + div {
            display: block;
        }

        .item {

            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 12px;
            padding-bottom: 12px;
            border-bottom: 1px solid #DEE3E8;

            .item__left {
                display: flex;
                align-items: flex-start;
                .item__left-icon {
                    width: 40px;
                    text-align: center;
                    i {
                        width: 12px;
                        height: 12px;
                        cursor: pointer;
                        display: inline-block;

                        &::before {
                            line-height: normal;
                        }
                    }

                    .icon__detail {
                        display: none;
                    }
                }

                .item__left-title {
                    margin-right: 5px;
                    font-size: 11px;
                    line-height: normal;
                    align-items: baseline;
                    color: var(--body-text);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-right: 5px;
                }

            }

            .item__right {
                cursor: pointer;
                span {
                    font-size: 12px;
                    line-height: 16px;
                    color: #0071bc;
                    font-weight: 700;

                    i {
                        &::before {
                            font-size: 14px;
                            font-weight: 700;
                            color: red;
                        }
                    }
                }
                
            }

        }
    }










/* end sidebar dropdown */

